{% extends "base.html.twig" %}

{% block title %}BlackJack - Förklaring{% endblock %}

{% block body %}
<div class="center-container">
    <h1>BlackJack</h1>
    <p>BlackJack är ett spel där målet för dig som spelare är att komma så nära talet 21 som möjligt. Detta genom att dra kort från kortleken fram tills du kommer så nära 21 som möjligt.</p>
    <p>Din motståndare i detta fallet banken som också har som mål att också komma så nära 21 som möjligt. Banken har dock lite andra regler som den måste följa. Bland annat så måste banken stanna på allt som är 17 eller över.</p>
    <p>Vilket betyder att banken inte får lov att dra fler kort ifall detta skulle ske. Dock så måste även banken dra över kort till att den har fått 17 eller högre för att rundan ska kunna anvslutas.</p>
    <p>Om du som spelare får 21 direkt så vinner du direkt. Om banken får 21 direkt så vinner banken direkt.</p>
    <p>Mer om spelreglerna och om hur spelet fungerar går att läsa om <a href="https://sv.wikipedia.org/wiki/Black_Jack">här</a></p>
    <table>
        <thead>
            <tr>
                <th>Kort</th>
                <th>Värde</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2-10</td>
                <td>2-10</td>
            </tr>
            <tr>
                <td>Knäkt</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Dam</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Kung</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Ess</td>
                <td>1 eller 11</td>
            </tr>
        </tbody>
    </table>
    <form action="{{ path('blackjack') }}" method="POST">
        <input type="submit" name="start" value="Starta spelet">
    </form>
</div>
{% endblock %}
