.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.form-holder input {
    margin: 10px;
}

.book-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.book-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
    width: 200px;
}

.book-item .book-title {
    text-align: center;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
