@import url(./blackjack.css);
@import url(./card.css);

:root {
    --pink: #f0f;
    --black: #000;
    --white: #fff;
    --red: #f00;
}

body {
    margin: 0;
}

nav {
    background-color: var(--pink);
    height: 100%;
}

nav a {
    color: var(--black);
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem;
}

.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: var(--pink);
    color: var(--black);
}

.footer p {
    margin: 0;
}

.introduction-container {
    width: 70%;
    margin: 0 auto;
}

.horizontal-align {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
