{% extends "base.html.twig" %}

{% block title %}Om{% endblock %}

{% block body %}
<div class="center-container">
<img src="{{ asset('img/phpxsymfony.png') }}" alt="En bild som representerar kursen MVC">
    {{ text|raw }}
</div>
{% endblock %}