{% extends "base.html.twig" %}

{% block title %}Om{% endblock %}

{% block body %}
<div class="grid">
    <div class="grid-item">
        <img src="{{ asset('img/phpxsymfony.png') }}" alt="En bild som representerar kursen MVC">
    </div>
    <div class="grid-item">
        <div class="center-container">
            {{ text|raw }}
        </div>
    </div>
</div>
{% endblock %}