{% extends "base.html.twig" %}

{% block title %}Hem{% endblock %}

{% block body %}
<h1>API Routes</h1>
<table class="all-routes">
    <tr>
        <th>Route</th>
        <th>Beskrivning</th>
    </tr>
    {% for route, description in routes %}
    <tr>
        <td><a href="{{ route }}">{{ route }}</a></td>
        <td>{{ description }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}