{% extends "base.html.twig" %}

{% block title %}Kort{% endblock %}

{% block body %}
<div class="center-container">
    <ul class="body-navigation">
        <li><a href="{{ path('deck') }}">Visa alla kort</a></li>
        <li><a href="{{ path('shuffle') }}">Blanda korten</a></li>
        <li><a href="{{ path('draw') }}">Dra ett kort</a></li>
    </ul>
</div>
<br>
<section class="card-explanation">
<img src="{{ asset('img/card.png' )}}" alt="Bild på UML diagram">
    <p>
        Kortleken är uppdelat i tre klasser Card, BaseDeck och Deck. Card klassen använder jag mig av för att skapa strukturen för ett kort.
        Delvis att att ett kort innehåller ett värde och en färg. I BaseDeck klassen så skapar jag själva kortleken och använder mig av Card klassen för att skapa varje kort för sig som jag sedan lägger i en lista.
        Då jag använder mig av Card klassen för att skapa ett kort i BaseDeck klassen så bildar jag en komposition mellan klasserna.
        Klassen Deck är en underklass till BaseDeck där jag hämtar alla properties från BaseDeck. I Deck klassen är det även där jag skapar metoder för att ändra på kortleken.
        Kortleken hämtas från BaseDeck och därmed så ärver Deck från BaseDeck. Dock så skapas inte kortleken för att methoden createDeck kallas.
    </p>
</section>
{% endblock %}