{% extends "base.html.twig" %}

{% block title %}Tur?{% endblock %}

{% block body %}
<div class="center-container">
    <h1 class="color-change">{{ number }}</h1>
    <img src="{{ asset('img/phpxsymfony.png') }}" alt="En bild som representerar kursen MVC">
</div>
{% endblock %}