{% extends "base.html.twig" %}

{% block title %}Deck{% endblock %}

{% block body %}
<h1>Deck in order</h1>
<div class="card-container">
    {% for cards in deck %}
        <div class="card">{{ cards|raw }}</div>
    {% endfor %}
</div>
{% endblock %}