{% extends "base.html.twig" %}

{% block title %}Deck - Draw a card{% endblock %}

{% block body %}
<h1>Draw a card</h1>

<h1>Kort kvar: {{ count }}</h1>

{% if cards != null %}
<div class="card-container">
{% for card in cards %}
    <div class="card">{{ card|raw }}</div>
{% endfor %}
</div>
{% endif %}

<form action="" method="POST">
    <input type="submit" name="drawCard" value="Dra kort"
    onClick="this.form.action='{{ path('draw_request') }}';">
</form>
{% endblock %}