{% extends "base.html.twig" %}

{% block title %}Deck - Shuffle{% endblock %}

{% block body %}
<h1>Deck Shuffled</h1>
{% if deck %}
    <div class="card-container">
        {% for card in deck %}
        <div class="card">{{ card|raw }}</div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
